@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Shadows+Into+Light');
h1{
	font-family: 'Amatic SC', cursive;
	font-size: 100px;
	text-shadow: 4px 3px 1px #b2afaf;
}
img{
	height: 300px;
	width: 300px;
	position: relative;
}
h2{
	font-family: 'Shadows Into Light', cursive;
	font-size: 50px;
}
p{
	font-size: 15px;
	margin-bottom: 25px;
}
@keyframes bounce{
	0%{top:0;}
	33.33%{top:10px;}
	100%{top:0;}
}
img:hover{
	-webkit-animation: bounce .4s linear;
	-o-animation: bounce .4s linear;
	animation: bounce .4s linear;
}
.computer{
	display: none;
}
@media only screen 
and (max-width : 990px){
	img{
		height: 250px;
		width: 250px;
	}
}
@media only screen and (max-width: 750px) {
	img{
		height: 200px;
		width: 200px;
	}
}
@media only screen and (max-width: 600px) {
	img{
		height: 175px;
		width: 175px;
	}
}
@media only screen and (max-width: 570px) {
	img{
		height: 150px;
		width: 150px;
	}
}
@media only screen and (max-width: 450px) {
	img{
		height: 125px;
		width: 125px;
	}
	h2{
		font-size: 38px;
	}
	h1{
		font-size:75px;
	}
}
@media only screen and (max-width: 380px) {
	img{
		height: 110px;
		width: 110px;
	}
	h2{
		font-size: 35px;
	}
}